html,
body {
  font-family: 'Open Sans', sans-serif;
}
body {
  padding-top: 50px;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 20px;
}
h2,h3,h4,h5,h6 {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding: 5px;
}
section.content {
  height: 100%;
  min-height: 100%;
}
section.content img {
  max-width: 70%;
  max-height: 70%;
  box-shadow: 0 0 20px #bbb;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
section.content h1:first-child {
  margin-top: 20px;
}
section.content h1 a {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 100;
}
section.content h1.thin {
  font-size: 2em;
  margin-top: 0;
}
section.content h1.big.thin {
  font-size: 3em;
}
section.content section.byline {
  font-size: 0.8em;
  text-transform: uppercase;
  padding-bottom: 15px;
  color: #999;
}
section.content.about p,
section.content.error {
  text-align: center;
  font-size: 1.3em;
  font-weight: 100;
}
section.content img.noclip {
  clear: both;
  box-shadow: none;
  display: inline-block;
}
section.content.error h1 {
  color: #f5f5f5;
  font-size: 10em;
  font-weight: bold;
  padding: .5em;
  text-shadow: 0px 1px 5px #aaa;
}
section.content div.pull {
  padding-top: 20px;
}
ul.listing {
  margin: 0 0 25px 0;
  padding: 0;
}
ul.listing li {
  list-style-type: none;
  padding: 7px 5px;
  border-bottom: 1px solid #EEE;
}
ul.listing li span {
  padding-top: 3px;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}
div.navbar .navbar-inner a.brand {
  font-weight: 100;
  text-transform: uppercase;
}
#footer {
  margin-top: 50px;
  border-top: 1px solid #f5f5f5;
}
#footer section.meta {
  padding: 30px;
  color: #EEE;
  text-align: center;
}
#footer section.meta a {
  font-size: 0.8em;
  color: #555;
  text-decoration: none;
  transition: color 0.25s ease-in;
  -webkit-transition: color 0.25s ease-in;
}
#footer section.meta a:hover {
  color: #307EA9;
}
#footer section.meta i.icon {
  display: block;
  margin: auto;
}
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #footer .span2.next {
    margin-top: 30px;
  }
}

section.content {
  max-width: 900px;
  margin: auto;
  padding-top: 25px;
}

