---
layout: layout
title: "About Ismael Abreu"
---

<section class="content about" style="max-wihth: 900px; margin: auto">
  <h1 class="big thin">Ismael Gonçalves Abreu</h1>

  <div style="text-align:center">
  <img  src="/images/kljhqwehqwe123123mnbqwe.gif"
        class="noclip" width="650" height="300" style="margin-bottom: 15px" />
    
  </div>

  <p style="max-width: 640px; margin:auto; text-align:left">
    This guy works as a <b>Rails Developer</b>.<br>
    When he's not doing that, he's
    most likely hacking on
    <a href="https://github.com/ismaelga">open source</a>,<br>
    helping others at <a href="http://stackoverflow.com/users/634513/ismael-abreu">StackOverflow</a>, and learning new
    things. <br><br>He has proficiency in <b>Ruby</b>, but
    also knows other languages like Java, JavaScript, PHP, C, Prolog.
    <br>
    Currently he is trying hard to learn Scala, but still no luck.
  </p> 

  <br />
  <p>
    You can read his CV at <a href="https://www.linkedin.com/in/ismaelabreu">linkedin</a>.
  </p>

  <br />
  <p>
    You can also drop him a line at <a href="mailto:me@ismaelabreu.com">me@ismaelabreu.com</a>.
  </p>

</section>
