<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="google-site-verification" content="wkqH-jab7KlOqqLqNVO_IC1Fpd2Wl31tg6hzCAKLrRM" />
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link href="/css/up.css" rel="stylesheet" />
  <link href="/css/code_style.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
  rel='stylesheet' type='text/css' />

  <!--[if lt IE 9]>
  <link href="/css/font-awesome-ie7.css" rel="stylesheet">
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Start of Woopra Code -->
    <script type="text/javascript">
      function woopraReady(tracker) {
          tracker.setDomain('ismaelabreu.com');
          tracker.setIdleTimeout(1800000);
          tracker.trackPageview({type:'pageview',url:window.location.pathname+window.location.search,title:document.title});
          return false;
      }
      (function() {
          var wsc = document.createElement('script');
          wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
          wsc.type = 'text/javascript';
          wsc.async = true;
          var ssc = document.getElementsByTagName('script')[0];
          ssc.parentNode.insertBefore(wsc, ssc);
      })();
    </script>
<!-- End of Woopra Code -->

  <link rel="apple-touch-icon" href="/apple-touch-icon.jpg" />
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">{{ site.title }}</a>
        <ul class="nav">
          <li><a href="/about.html">About</a></li>
          <li><a href="/work.html">Work</a></li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <a href="/atom.xml" title="Atom Feed">
              <i class="icon-rss icon-large"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    {{ content }}
  </div>

  <div id="footer">
    <section class="meta">
      <div class="container">
        <div class="row">
          <div class="span3"></div>
          <div class="span2">
            <a href="https://twitter.com/{{ site.author.twitter }}">
              <i class="icon icon-twitter icon-4x"></i>
              <div>Follow me on Twitter.</div>
            </a>
          </div>
          <div class="span2"></div>
          <div class="span2 next">
            <a href="https://github.com/{{ site.author.github }}">
              <i class="icon icon-github icon-4x"></i>
              <div>
                See my github profile.
              </div>
            </a>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </section>
  </div>
  {% include analytics.html %}
  {% include gauges.html %}
</body>

</html>
